// Includes
@import 'normalize';
@import 'variables';

/*  Global Styling
    -------------- */

*,*:after,*:before {
    box-sizing: border-box
}

html, body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: #eee;
}
